<h1>Editar Cliente</h1>

<%= form_with(model: @cliente, url: cliente_path(@cliente.id), method: :patch, local: true) do |form| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "erro") %> proibiu este cliente de ser salvo:</h2>
      <ul>
        <% @cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo %>
  </div>

  <div class="actions">
    <%= form.submit 'Atualizar Cliente' %>
  </div>
<% end %>

<%= link_to 'Voltar', clientes_path %>
